body {
    background-color: #121213;
    color: #FFFFFF;
    font-family: 'Arial', sans-serif;
}
.baner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-size: 1.5rem;
    line-height: 0.3;
    text-align: right;
}
.baner h1 span {
    line-height: 0;
    font-size: 0.7rem;
}

main {
    margin: 0 auto;
    display: grid;
    grid-auto-columns: 5;
    gap: 10px;
    align-content: center;
    width: fit-content;
}
.row {
    display: flex;
    align-items: center;
    gap: 10px;
}
.letter {
    width: 60px;
    height: 60px;
    border: 2px solid #3A3A3C;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.key {
    font-weight: 600;
    width: 50px;
    height: 70px;
    margin: 3px;
    font-size: 18px;
    border: none;
    background-color: #818384;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.8rem;
}

.key:hover {
    background-color: #ddd;
}

.special-key {
    font-size: 1.3rem;
    width: 100px;
    font-weight: bold;
}

.key:active {
    background-color: #bbb;
}

.filled {
    border: 2px solid #727272;
}

.letter-correct {
    background-color: #6aaa64; 
    color: #ffffff;
}

.letter-misplaced {
    background-color: #c9b458;
    color: #ffffff;
}

.letter-absent {
    background-color: #787c7e;
    color: #ffffff;
}

@keyframes fadeIn {
    0% {
        scale: 0.75;
    }
    100% {
        scale: 1;
    }
}
.animate {
    animation: fadeIn 0.5s ease-out;
}